/* About section styling */

#about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 80px;
    background-color: #f8f8f8;
  }
  
  .about-container {
    display: flex;
    gap: 4em;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .about-image {
    padding-top: 5em;
  }
  
  .about-image img {
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
  }
  
  .about-text {
    max-width: 600px;
  }
  
  .about-text h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
  }
  
  .about-text p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
  }
  
  .about-text button {
    font-size: 16px;
    font-weight: 600;
    padding: 15px 30px;
    color: #fff;
    background-color: #088178;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: background-color 0.2s;
  }
  
  .about-text button:hover {
    background-color: #066d5c;
  }
  
  .right-align {
    display: block; /* Ensures the span behaves like a block element */
    text-align: right; /* Aligns the text to the right */
  }
  